################################################################################
# PureBasic Optimizer
# https://github.com/Dadido3/PB-Optimizer
################################################################################

*.exe
Thumbs.db

/Distribution

___*.*
*.lnk
*.url
